.App {
  text-align: center;
  background:#333;
  height:100vh;
}

.Canvas {
    
}

.circle{
    fill:red;
    stroke:black;
    stroke-width:3px;
}

.circle:hover { 
    fill:rgb(255,127,127); 
}
.circle.dragging{
    fill:rgb(255,127,255); 
    z-index:3;
}